body {
  background: linear-gradient(rgba(13, 0, 0, 0.213), rgb(8, 93, 121));
}

.wrapper {
  height: 100vh;
  max-width: 1000px;
  margin: auto;
  font-weight: 400;
  font-size: large;
}

.wrapper {
  display: flex;
  justify-content: space-between;


}